.codeBox:has(pre) b:nth-child(1),
b:nth-child(8),
b:nth-child(12),
b:nth-child(15),
b:nth-child(18),
b:nth-child(24),
b:nth-child(25),
b:nth-child(27) {
    color: rgb(255, 114, 111);
}
.codeBox:has(pre) b:nth-child(n+2):nth-child(-n+7),
b:nth-child(10),
b:nth-child(14),
b:nth-child(16),
b:nth-child(17),
b:nth-child(19),
b:nth-child(21),
b:nth-child(23),
b:nth-child(28),
b:nth-child(29) {
    color: rgb(13, 162, 255);
}
.codeBox:has(pre) b:nth-child(9),
b:nth-child(11) {
    color: rgb(255, 72, 255)
}
.codeBox:has(pre) b:nth-child(13),
b:nth-child(20),
b:nth-child(26) {
    color: rgb(224, 224, 72);
}
.codeBox:has(pre) b:nth-child(22) {
    color: blue;
}